body{
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 40px 40px 1fr 80px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "menu chude"
    "menu main"
    "footer footer";
    min-height: 100vh;
    margin: 0;
    }
#logo{
    height: 100%; 
    margin-right: auto;
}
header{
    grid-area: header;
    display: flex;
    border: solid red;
}
main{
    grid-area: main;
    border: solid blue;   
}

footer{
    grid-area: footer;
    border: solid green;
}
.menu{
    grid-area: menu;
    border: solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu >a{
    padding: 5px;    
}
nav{
    grid-area: nav;
    display: flex;
    border: solid powderblue;
    justify-content: flex-end;
}
nav >a{
    padding: 10px;
}
.menu h2{
    font-size:25px;
    font-weight: 1000;
}
.chude{
    border: solid purple;
    display: flex;
    justify-content: flex-end;
}
.chude >a{
    padding: 10px;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
}
